.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-board {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#game-btn {
  height: 40px;
}

.game-square {
  font-size: 100px;
  font-weight: bold;
  height: 98px;
  width: 98px;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}