.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-board {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.game-square {
  font-size: 100px;
  font-weight: bold;
  height: 98px;
  width: 98px;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}